<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286153464428-lq1f07amh14eogvs9317drrq357ufn5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286153464428-lq1f07amh14eogvs9317drrq357ufn5h</string>
	<key>API_KEY</key>
	<string>AIzaSyCvDny4LzEU0WO6MGGVoPEDQoVISahB4hM</string>
	<key>GCM_SENDER_ID</key>
	<string>286153464428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oeg.netgains.ehoa</string>
	<key>PROJECT_ID</key>
	<string>ehoa-7eba7</string>
	<key>STORAGE_BUCKET</key>
	<string>ehoa-7eba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286153464428:ios:0673c01c217229cd7a5649</string>
</dict>
</plist>